<mat-card>
  <div class="header">
    <mat-card-title>{{ feature?.name }}</mat-card-title>
  </div>
  <mat-card-content>
    <p>{{ feature?.description }}</p>
    <mat-divider *ngIf="editMode"></mat-divider>
  </mat-card-content>
  <div class="actions" *ngIf="editMode">
    <button mat-button (click)="edit()">Edit</button>
    <button mat-button (click)="delete()">Delete</button>
    <div class="spacer"></div>
    <button mat-icon-button (click)="moveDown()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button (click)="moveUp()">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
</mat-card>
