.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.actions {
  display: flex;
  margin-top: 16px;
}

.heading {
  font-weight: bold;
}

.task-actions {
  display: flex;
  margin-top: 16px;
}
