<div class="dialog">
  <h1 mat-dialog-title>Edit quest</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput required [(ngModel)]="data.name" (input)="onChange()">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="data.description" (input)="onChange()"></textarea>
    </mat-form-field>
  </div>

  <label id="questType-radio-group-label">Quest Type</label>
  <mat-radio-group (change)="onChange()" aria-labelledby="questType-radio-group-label" class="questType-radio-group"
    [(ngModel)]="questType">
    <mat-radio-button class="questType-radio-button" *ngFor="let type of questTypes" [value]="type">
      {{ getQuestTypeName(type) }}
    </mat-radio-button>
  </mat-radio-group>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!formValid" [mat-dialog-close]="data">Save</button>
  </div>
</div>
