<mat-card>
  <div class="header">
    <mat-card-title>Add feature</mat-card-title>
  </div>
  <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="name" (input)="onChange()">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput [(ngModel)]="description" (input)="onChange()" required></textarea>
      </mat-form-field>

      <br>

      <button mat-raised-button color="primary" [disabled]="!formValid" (click)="onSubmit()">Add</button>
  </mat-card-content>
</mat-card>
